body{
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}
.container {
    width: 1273px;
    margin: 0 auto;
}
.row{
    display: flex;
    width: 100%;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
    position: relative;
}
.title:after {
    content: '';
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    font-size: 18px;
    line-height: 56px;
    color: #458FF6;
    background: #ffffff;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    display: block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    color: #ffffff;
    background: #458FF6;
    transition: background-color 0.7s ease 0s, color 0.7s ease 0s;
}
@media(max-width:767px){
    .button {
        width: 320px;
    }
}
/*----------------------------------------------------------------------------------*/
.header {
    padding-top: 56px;
    background: #ffffff;
}
.header__row {}
.header__logo {
    flex: 1 1 45%;
    cursor: pointer;
}
.header__menu {
    flex: 1 1 55%;
}
.menu__list {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}
.menu__item {

}
.menu__link {
    text-decoration: none;
    color: rgba(31, 21, 52, 0.5);
    font-size: 18px;
    line-height: 23px;
}
.menu__link:hover {
    color: rgba(31, 21, 52, 1);
    font-weight: bold;
}
@media(max-width:767px){
    .container{
        width: 320px;
    }
    .header{
        padding: 25px 15px 25px 15px;
    }
    .nav-mobile-menu {
        width: 20px;
        height: 15px;
        position: relative;
        margin-top: 4px;
    }
    .nav-mobile-menu span{
        width: 20px;
        height: 3px;
        background-color: #C4C4C4;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.25s ease-in-out;
    }
    .header__menu{
        display: flex;
        justify-content: flex-end;
    }
    .menu__item{
        margin: 25px;
    }
    .nav-mobile-menu span:nth-child(1){
        top: 0;
    }
    .nav-mobile-menu span:nth-child(2){
        top: 5px;
    }
    .nav-mobile-menu span:nth-child(3){
        top: 10px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        transform: translateX(100%);
        transition: all 500ms ease-in-out ;
        z-index: 100;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .nav-mobile-menu.active-menu+.overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(196, 196, 196, 0.56);
        transition: all 500ms ease-in-out ;
    }
    .nav-mobile-menu.active-menu span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2){
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3){
        transform: scale(0);
    }
    .navigation.active-menu{
        opacity: 1;
        visibility: visible;
        transform: translatex(0%);
        top: 0;
        padding: 25px;
        margin: 0 auto;
        background-color: #ffffff;
    }
    .navigation.active-menu .menu__list{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        margin: 100px auto 0 auto;
        width: 200px;
    }
    .union{
        background-image: url("./img/Union.png");
        width: 23px;
        height: 23px;
        background-repeat: no-repeat;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .union:hover{
        opacity: 0.7;
    }
}
/*----------------------------------------------------------------------------------*/
.home {
    padding-top: 85px;
    background-image: url("./img/home/background.png");
    background-repeat: no-repeat;
    background-position: top 50px left;
}
.home__row {
    display: flex;
}
.home__column {
    flex: 1 1 50%;
}
.home__title {
    margin-top: 107px;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    padding-right: 150px;
}
.home__text {
    margin-top: 25px;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    padding-right: 187px;
}
.home__button {
    margin-top: 45px;
}

.home__image img{
    width: 100%;
}
@media(max-width:767px){
    .container{
        width: 100%;
    }
    .home{
        padding: 50px 15px 50px 15px;
    }
    .home__row {
        flex-wrap: wrap;
    }
    .home__column {
        flex: 1 1 100%;
    }
    .home__title {
        font-size: 34px;
    }
    .home__title {
        padding-right: 0;
    }
    .home__text {
        padding-right: 0;
    }
    .home__button {
        margin: 20px auto 0 auto;
    }
}
/*----------------------------------------------------------------------------------*/
.services {
    padding-top: 190px;
    padding-bottom: 110px;
    background-image: url('./img/services/bg.png');
    background-repeat: no-repeat;
    background-position: left 0 top 50%;
    position: relative;
}
.services:after {
    content: '';
    background-image: url('./img/services/bg2.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 96px;
    position: absolute;
    top: 53%;
    right: 21%;
    z-index: -1;
}
.services__title {}
.services__text {
    margin-top: 60px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
}
.services__row {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 388px);
    justify-content: center;
}
.services__column {
    margin: 17px;
    background: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column__body {
    width: 85%;
}
.column__image{
    width: 95px;
    height: 90px;
}
.column__title {
    margin-top: 22px;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}
.column__text {
    margin-top: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.services__button{
    margin: 70px auto 0 auto;
}
@media(max-width:767px) {
    .container {
        width: 100%;
    }
    .services {
        padding: 50px 15px 50px 15px;
    }
    .services__row {
        grid-template-columns: repeat(1, 354px);
        /*grid-template-rows: repeat(6, 388px);*/
    }
    .none{
        display: none;
    }
}
/*----------------------------------------------------------------------------------*/
.healthcare {
    padding-bottom: 130px;
}
.healthcare__row {
    margin-top: 110px;
}
.healthcare__column {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.healthcare__image {
    width: 100%;
    height: 100%;
}
.healthcare__image img{
    width: 100%;
}
.healthcare__column .column__body {
    width: 410px;
}
.healthcare__column .column__title {
    text-align: start;
    font-size: 36px;
    line-height: 56px;
}
.healthcare__column .column__title:after {
    left: 0;
    transform: translateX(0);
}
.healthcare__column .column__text {
    padding-top: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.healthcare__column .column__button {
    margin-top: 37px;
}
@media(max-width:767px) {
    .healthcare {
        padding: 50px 15px 50px 15px;
    }
    .healthcare__row {
        margin-top: 50px;
    }
    .container {
        width: 100%;
    }
    .healthcare__row {
        flex-wrap: wrap;
    }
    .healthcare__column {
        flex: 1 1 100%;
    }
    .healthcare__column .column__body {
        width: 100%;
    }
    .healthcare__image img{
        width: 100%;
    }
    .healthcare__column .column__button {
        margin: 37px auto 0 auto;
    }
}
/*----------------------------------------------------------------------------------*/
.download {
    padding-bottom: 130px;
    position: relative;
}
.download:after {
    content: '';
    background-image: url('./img/download/bg.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 96px;
    position: absolute;
    top: -30%;
    right: 0;
    z-index: -1;
}
.download__row {
    margin-top: 110px;
}
.download__column {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download__image {
    width: 100%;
    height: 100%;
}
.download__image img{
    width: 100%;
}
.download__column .column__body {
    width: 410px;
}
.download__column .column__title {
    text-align: start;
    font-size: 36px;
    line-height: 56px;
}
.download__column .column__title:after {
    left: 0;
    transform: translateX(0);
}
.download__column .column__text {
    padding-top: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.download__column .column__button {
    margin-top: 37px;
    position: relative;
}
.download__column .column__button:after {
    content: '';
    width: 11px;
    height: 16px;
    background-image: url('./img/download/arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 30px;
}
.download__column .column__button:hover:after  {
    background-image: url('./img/download/altAarrow.png');
}
@media(max-width:767px) {
    .download {
        padding: 50px 15px 50px 15px;
    }
    .download__row {
        margin-top: 50px;
    }
    .container {
        width: 100%;
    }
    .download__row {
        flex-wrap: wrap;
    }
    .download__column {
        flex: 1 1 100%;
    }
    .download__image img{
        width: 100%;
    }
    .download__column .column__body {
        width: 100%;
    }
    .column1{order: 2;}
    .column2{order: 1;}
    .download__column .column__button {
        margin: 37px auto 0 auto;
    }
}
/*----------------------------------------------------------------------------------*/
.slider {
    background: url('./img/slider/bg.png') no-repeat left 15% bottom 25%;
}
.slider__body {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
}
.slider__carousel{
    display: flex;
    transition: all 1000ms ease 0s;
}
.slider__item {
    flex: 0 0 100%;
    border-radius: 24px;
    padding: 15px;
    box-sizing: border-box;
}
.item__body{
    border-radius: 24px;
    padding: 65px 0 90px 0;
}
.slide1{
    background:url("./img/slider/slides/bg.png") no-repeat right -50px top -15px,
    linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%) ;
}
.slide2{
    background:url("./img/slider/slides/bg.png") no-repeat right -50px top -15px,
    linear-gradient(208.18deg, #FF1E1E 9.05%, #5A98F2 76.74%) ;
}
.slide3{
    background:url("./img/slider/slides/bg.png") no-repeat right -50px top -15px,
    linear-gradient(208.18deg, #ffff00 9.05%, #5A98F2 76.74%) ;
}
.slide4{
    background:url("./img/slider/slides/bg.png") no-repeat right -50px top -15px,
    linear-gradient(208.18deg, #00ff00 9.05%, #5A98F2 76.74%) ;
}
.slider__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}
.slider__title:after {
    background: #FFFFFF;
}
.slider__row {
    display: flex;
}
.slider__column {
    margin-top: 70px;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}
.slider__column .column__body {
    display: flex;
    width: 350px;
    justify-content: space-between;
}
.body__column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.slider__column .column__image {
    width: 100%;
    height: 100%;
}
.slider__column .column__name {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
.slider__column .column__proff {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
}
.slider__column .column__text {
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    width: 420px;
}
.dots__list{
    display: flex;
    margin: 0 46px;
}
.dots{
    width: 10px;
    height: 10px;
    background: rgba(91, 155, 243, 0.3);
    border-radius: 50%;
    margin: 0 9px;
}
.previous{
    background-image: url('./img/slider/left.png');
    width: 30px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
}
.next{
    background-image: url('./img/slider/right.png');
    width: 30px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
}
.previous:hover, .next:hover{
    cursor: pointer;
    opacity: 1;
}
.dots:hover{
    cursor: pointer;
    background: rgba(91, 155, 243, 1);
}
.dots.active{
    background: rgba(91, 155, 243, 1);
}

.slider__controls {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:767px) {
    .container{
        width: 100%;
    }
    .slider{
        padding: 50px 15px 50px 15px;
    }
    .slider__row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider__column {
        margin-top: 20px;
        flex: 1 1 100%;
    }
    .slider__body{
        width: 100%;
        padding: 10px 0 10px 0;
    }
    .item__body{
        border-radius: 24px;
        padding: 65px 0 90px 0;
    }
    .slider__item {
        box-sizing: border-box;
        flex: 0 0 100%;
        padding: 10px;
    }
    .slider__column .column__body {
        margin-top: 30px;
        width: auto;
    }
    .slider__column .column__text {
        margin-top: 20px;
        width: 100%;
        padding: 0 10px;
    }
    .body__column{
        margin: 0 10px;
    }
}
@media (min-width: 768px){
    .slider__row {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*----------------------------------------------------------------------------------*/
.checkout {
    padding-top: 110px;
    padding-bottom: 100px;
    background-image: url('./img/checkout/bg.png');
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    position: relative;
}
.checkout:before {
    content: '';
    background-image: url('./img/checkout/bg3.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 96px;
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: -1;
}
.checkout:after {
    content: '';
    background-image: url('./img/checkout/bg2.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 96px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    z-index: -1;
}
.checkout__title {
}
.checkout__row {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    justify-content: center;
}
.checkout__column {
    display: flex;
    align-items: center;
    margin: 15px 15px;
}
.checkout__column .column__body {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 35px;
}
.checkout__column .column__image {
    width: 100%;
    height: 100%;
}
.checkout__column .column__image img{
    width: 100%;
    height: 100%;
}
.checkout__column .column__title {
    margin-top: 21px;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
    padding: 0 33px;
}
.checkout__column .column__text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    padding: 0 33px;
}
.checkout__column .column__link {
    margin-top: 25px;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
    text-decoration: none;
    display: block;
    padding: 0 33px;
    position: relative;
    width: 90px;
}
.checkout__column .column__link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.checkout__column .column__link:after {
    content: '';
    width: 15px;
    height: 9px;
    background-image: url('./img/checkout/arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    right: 0;
}
.checkout__button {
    margin: 70px auto 0 auto;
    order: 5;
}
@media(max-width:767px) {
    .container{
        width: 100%;
    }
    .checkout {
        padding: 50px 15px 50px 15px;
    }
    .checkout__row {
        margin-top: 30px;
        grid-template-columns: repeat(1, 350px);
    }
}
/*----------------------------------------------------------------------------------*/
.footer {
    padding-top: 100px;
    padding-bottom: 110px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%) no-repeat;
    background-size: cover;
    position: relative;
}
.footer:after {
    content: '';
    background-image: url('./img/footer/bg2.png');
    background-repeat: no-repeat;
    width: 133px;
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer__row {}

.footer__column {
    margin: 0 30px;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
}
.column1{
    flex: 1 1 40%;
}
.footer__image{
    padding-left: 53px;
    position: relative;
}
.footer__image:before{
    content: 'T';
    width: 41px;
    height: 41px;
    font-weight: bold;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #5B9BF3;
    background: #FFFFFF;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
}
.footer__title {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    width: 100px;
}
.footer__text {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.footer__copyright {
    margin-top: 31px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.footer__list {
    margin-top: 30px;
}
.footer__item {
}
.footer__link {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
    mix-blend-mode: normal;
}
.footer__link:hover {
    opacity: 0.7;
    text-decoration: underline;
}
@media(max-width:767px) {
    .container{
        width: 100%;
    }
    .footer {
        padding: 50px 15px 50px 15px;
    }
    .footer__row {
        flex-wrap: wrap;
    }
    .footer__column {
        text-align: center;
        margin: 7.5px 15px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column1{
        margin-top: 25px;
        flex: 1 1 100%;
        order: 4;
    }
}
@media (min-width: 768px) {
    .container{
        width: 768px;
    }
    .services__row{
        grid-template-columns: repeat(3, 250px);
    }
    .checkout__row {
        grid-template-columns: repeat(1, 350px);
    }

}
@media (min-width: 992px) {
    .container{
        width: 992px;
    }
    .services__row{
        grid-template-columns: repeat(3, 270px);
    }
    .checkout__row {
        grid-template-columns: repeat(3, 270px);
    }
}
@media (min-width: 1273px) {
    .container{
        width: 1273px;
    }
    .services__row{
        grid-template-columns: repeat(3, 350px);
    }
    .checkout__row {
        grid-template-columns: repeat(3, 350px);
    }
}
/*----------------------------------------------------------------------------------*/
.hide{
    display: none;
}
.show{
    display: block;
}
/*----------------------------------------------------------------------------------*/
